POSTGRES_VERSION=16
PGDATABASE=workflow_db
PGUSER=workflow
PGPASSWORD=workflow
RABBITMQ_VERSION=4.3
RABBITMQ_USER=workflow
RABBITMQ_PASSWORD=workflow
RABBITMQ_URL=amqp://workflow:workflow@localhost:5672
PORT=3000
LOG_LEVEL=info
OUTBOX_POLL_INTERVAL_MS=1000
OUTBOX_BATCH_SIZE=20
OUTBOX_STALE_CLAIM_SECONDS=30
