POSTGRES_VERSION=16
PGDATABASE=workflow_db
PGUSER=workflow
PGPASSWORD=workflow
LOG_LEVEL=info
REDIS_VERSION=8.10.2
BULL_BOARD_USER=admin
BULL_BOARD_PASSWORD=admin
API_PORT=3000
POSTGRES_HOST_PORT=5432
REDIS_HOST_PORT=6379
BULL_BOARD_PORT=3001
REDISINSIGHT_PORT=5540
