POSTGRES_VERSION=16
PGDATABASE=workflow_db
PGUSER=workflow
PGPASSWORD=workflow
RABBITMQ_VERSION=4.3
RABBITMQ_USER=workflow
RABBITMQ_PASSWORD=workflow
RABBITMQ_URL=amqp://workflow:workflow@localhost:5672
PORT=3000
LOG_LEVEL=info
